[submodule "dependencies/cwalk"]
	path = submodules/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "dependencies/whereami"]
	path = submodules/whereami
	url = https://github.com/gpakosz/whereami.git
[submodule "submodules/slog"]
	path = submodules/slog
	url = https://github.com/kala13x/slog.git
